body{
    font-family: sans-serif;
}

#title{
    font-size: 35px;
}

#map{
    height: 500px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

#form_container{
    text-align: center;
}

form{
    display: inline-block;
    width: 30%;
    margin: auto;
}

#export_csv{
    display: block;
    margin: auto;
    width: 12%;
    text-align: center;
    background-color: #11CDFF;
    color: #FFFFFF;
    font-size: 25px;
    letter-spacing: 4px;
    cursor: pointer;
    padding: 10px 0px 10px 0px;
}

#export_csv:hover{
    background-color: #12A9FF;
}

#export_geojson{
    display: block;
    margin: auto;
    width: 12%;
    text-align: center;
    background-color: #11CDFF;
    color: #FFFFFF;
    font-size: 25px;
    letter-spacing: 4px;
    cursor: pointer;
    padding: 10px 0px 10px 0px;
}

#export_geojson:hover{
    background-color: #12A9FF;
}

#clear{
    display: block;
    margin: auto;
    border: 0;
    width: 9%;
    text-align: center;
    background-color: #FF530D;
    color: #FFFFFF;
    font-size: 100%;
    letter-spacing: 4px;
    cursor: pointer;
    padding: 10px 0px 10px 0px;
}

#clear:hover{
    background-color: #E82C0C;
}

.function_container{
    margin: 7px 0px 7px 0px;
}

.leaflet-clickable{
    stroke: #FFF600;
    stroke-width: 4;
    stroke-opacity:0.7;
}

.leaflet-popup-content-wrapper{
    width: 380px;
}

#footer{
    margin-top: 30px;
}